body{
    background-color: white;
}
#heading{
    background-color: white;
}
h1{
    text-align: center;
}
#description{
    text-align: center;
}
.result{
    background-color: #c8c8c8;
}
#searching_box{
    background-color: #efefef;
}
#content{
    margin-top: 3em;
    background-color: #4b4f54;
}
#heading1{
    color: #fff;
}