body{
    background-color: white;
}
#heading{
    background-color: white;
}
h1{
    text-align: center;
}
#description{
    text-align: center;
}
.result{

    background-color: #c8c8c8;
}
#searching_box{
    background-color: #efefef;
}

#footer{
    background-color: #efefef;
    border-top: solid 1px #1b6d85;
    padding-top: 0.5em;
}